In [1]:
import pymongo
import pandas as pd
import numpy as np
import datetime as datetime

In [2]:
combo_df = pd.read_csv('data/dow_gold_div_change_1915_2020.csv', encoding='utf-8', delimiter=',', engine='python')

In [3]:
combo_df

,year,month,dow_average,month_int,gold_price,DOW_div_gold,dow_div_gold_monthly_change
0,1915,Jan,57.25,1,19.25,2.974208,NaN
1,1915,Feb,56.07,2,19.25,2.912843,-0.06
2,1915,Mar,57.58,3,19.25,2.991237,0.08
3,1915,Apr,66.79,4,19.25,3.469536,0.48
4,1915,May,64.85,5,19.25,3.368675,-0.10
...,...,...,...,...,...,...,...
1260,2020,Jan,"28,879.99",1,1580.85,18.268649,-0.23
1261,2020,Feb,"28,519.73",2,1626.35,17.536036,-0.73
1262,2020,Mar,"22,637.42",3,1604.65,14.107388,-3.43
1263,2020,Apr,"23,293.90",4,1716.75,13.568603,-0.54
1264,2020,May,"24,146.48",5,1732.45,13.937766,0.37

In [4]:
conn = 'mongodb://localhost:27017'

In [5]:
client = pymongo.MongoClient(conn)

In [6]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
db = client.myDB.dowGoldHistory

In [8]:
db.drop()

In [9]:
db = client.myDB.dowGoldHistory

In [10]:
data = combo_df.to_dict(orient='records')

In [11]:
db.insert_many(data)

In [12]:
dataOut = db.find().sort('_id', -1)

In [13]:
results_count = dataOut.collection.estimated_document_count()
results_count

1265

In [14]:
dataOut[0]

{'_id': ObjectId('5ed40e97ba5dcf3e9ada4194'),
 'year': 2020,
 'month': 'May',
 'dow_average': '24,146.48',
 'month_int': 5,
 'gold_price': 1732.45,
 'DOW_div_gold': 13.93776572,
 'dow_div_gold_monthly_change': 0.37}